header {
    padding: 20px 0;
}


.conteiner {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav li {
	display: inline;
}

body {
	background: #cccccc;
	margin: 0;
	padding: 0;
}

#banner{
	width: 100%;
}

h1{
	text-align: center;

}


p{
	text-align: center;

}
