header {
    padding: 20px 0;
}


.conteiner {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav li {
	display: inline;
	margin: 0, 25px, 0, 25px;
	padding: 25px;
	padding-right: 0%;
	text-align: center;
	
	
}



nav a {
text-transform: uppercase;
color: black;
font-weight: lighter;
font-size: 35px;
text-decoration: none;

}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

body {
	background: #cccccc;
	margin: 0;
	padding: 0;
}

#banner{
	width: 100%;
}

h1{
	text-align: center;

}


p{
	text-align: center;

}
